*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    background-color:darkslategrey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 80vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vmin; 
}
#heading{
     font-size: 7vmin;
}
.boxes{
    height: 70vmin;
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vmin;
}
.box{
    height: 21vmin;
    width: 21vmin;
    border-radius: 2vmin;
    border: none;
    font-size: 12vmin;
    background-color: aliceblue;
}
.btn{
    height: 6vmin;
    width: 19vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    border: none;
    font-size: 3vmin;
    background-color: #000;
    color: #fff;
    padding: 1vmin;
}
.hide{
    display: none;
}
